@charset "utf-8";
/* CSS Document */
.container{
	width: 100%;
	height: auto;
}
.logo{
	background-image: url("img/bglogo.png");
}
.menu{
	margin-left: 15px;
	background-image: url("img/bgmenu.jpg");
	display: flex;
}
.menu ul{
	display: flex;
	list-style-type: none;
	font-weight: bold;
}
.menu ul li a{
	margin: 25px;
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color: rosybrown;
}
.timkiem input{
	margin-top: 15px;
	margin-left: 200px;
}
.bodyimg {
	margin: 15px;
}
.bodyimg img{
	width: 1232px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 1.15;
}

#baoquat {
    max-width: 1170px;
    margin: 0 auto;
}
.headline h3 {
	background-color: #B7E5E7;
    font-size: 18px;
    padding: 20px 20px;
    text-transform: uppercase;
    border: 1px solid #2BA6C7;
    display: inline-block;
    color: #555;
    font-weight: 600;
}
.product-name p:hover{
	color: #55BB74;
}
.headline h3:hover {
	color:#1DADCA;
}
.headline {
    text-align: center;
    margin: 40px 0px;
}

ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*giảm khung hiển thi hàng ngang */
}

ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li img {
    max-width: 100%;
    height: auto;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top.product-thumb {
    display: block;
}

ul.products li .product-top.product-thumb img {
    display: block;
}
.product-price {
	font-size: 18px;
}
ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    /*ẩn nút mua ngay */
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 10px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-cat {
    font-size: 11px;
    color: #9e9e9e;
    ;
    text-transform: uppercase;
    padding: 3px 0px;
}

ul.products li .product-info a.product-name {
    color: #334826;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}
.product-name{
	font-size: 15px;
}
.bottom{
	margin-top: 30px;
	display: flex;
	background-color: #B18B8C;
}
.bottom div li{
	list-style-type: none;
}
.bottom div{
	margin: 25px 105px;
}
.bottom div li:hover{
	color: white;
}
.right {
	text-align-last: center;
	margin-top: 1px;
	width: 1247px;
	background-color: #B18B8C;
}
.right li {
	padding-top: 5px;
	list-style-type: none;
	color: #1E1515;
}
.right li:hover {
	color: aquamarine;
}
.gio a {
	margin-left: 1150px;
}
.calendar{
	margin-left: 380px;
	margin-top: 20px;
	height: 100%;
	width: 40%;
	border:2px solid #5773F8;
	border-radius:4px;
	margin-bottom:10px;
}
.calendar table{
	width:100%;
}
.calendar table tr td.monthyear{
	background-color:#F60;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	border:1px solid #1B34C5;
}
.calendar table tr.weektitle td {
	text-align:center;
	font-weight:bold;
	border:1px solid #1B34C5;
	background-color:#CCF;
}
.calendar table tr td.weekday{
	text-align:center;
	border:1px solid #1B34C5;
	color: #F8F8F8;
}